.mt-2 {margin-top: -2px;}
.mt10 {margin-top: 10px;}
.mt20 {margin-top: 20px;}
.mt25 {margin-top: 25px;}

.mt37 {margin-top: 37px;}
.mt110 {margin-top: 110px;}
.mt115 {margin-top: 115px;}
.mt120 {margin-top: 120px;}
.mt135 {margin-top: 135px;}
.mt145 {margin-top: 145px;}

.mr140 {margin-right: 140px;}
.mt170 {margin-top: 170px;}
.ml106 {margin-left: 106px;}
.pr106 {padding-right: 106px;}
.ml-190 {margin-left: -194px;}
.mr-200 {margin-right: -200px;}
.pt145 {padding-top: 145px;}